$duration: 1.3s;


* {
  color: white;
  font-size: 1em;
  

}

// .ButtonContainer {
//   height: 100%;
//   // opacity: 0;
// }

// .Info {
//   z-index: 0;

//   .ButtonContainer * {
//     // display: none;
//     // opacity: 0;
//   }
//   &:hover > .ButtonContainer * {
//     // opacity: 1;
//   }
// }

.Name {
  font-size: 1.1rem;

}

.Image {
  margin: 0;
  padding: 0;
}

.Rating {

}

.Seasons {

}