.Slider {
  font-size: 1em;
}

.Container {
  width: 100%;
  overflow: hidden;
}

.Row {
  padding: 0 6em;
  // margin-left: 1.2em;
  display: flex;
  flex-wrap: nowrap;
  &:hover .Card {
    transform: translateX(-25%);
  }
  margin-bottom: 3em;
  z-index: 1;
}

.Title {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.Card {
  margin: 1.3em 2px;
  position: relative;
  // text-align: center;
  z-index: 2;
  transition: transform 400ms ease 200ms;
  flex: 0 0 210px;

  &:hover {
    transform: scale(1.5) !important;
  }

  &:hover ~ .Card {
    transform: translateX(25%);
  }

  &:hover .Info {
    opacity: 1;
  }

  .ButtonContainer {
    height: 100%;
    // opacity: 0;
  }
  
  .Info {
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms ease 400ms;

    .ButtonContainer * {
      // display: none;
    }
    &:hover > .ButtonContainer * {
      // opacity: 1;
    }
  }
}
